<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inscription.css">
    <title>Document</title>
</head>
<body>
    <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Valider votre reservation</h2>
          </div>
          <div class="row clearfix">
            <div class="" >
              <form action="/confirmation" method="post">
                <div class="input_field"> 
                    <input type="text" name="nom" placeholder="Nom" required />
                  </div>
                  <div class="input_field"> 
                    <input type="text" name="prenom" placeholder="Prenom" required />
                  </div>
                <div class="input_field"> 
                  <input type="email" name="email" placeholder="Email" required />
                </div>
                <div class="input_field"> 
                  <input type="text" name="phone" placeholder="Telephone" required />
                </div>
               
                <input class="btn" type="submit" value="Register" />
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>